@charset "UTF-8";

/*  VARIÁVEIS  */
:root{
    --cor-purple: #8211D1;
    --cor-purple-login: #9A38DA;
    --font-menu: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*  VARIÁVEIS  */


/*  TRANSIÇÃO  */
@keyframes wipe-in-down {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:down"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
  }

  @keyframes wipe-in-up {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:up"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
  }
/*  TRANSIÇÃO  */


/*  CONFIGURAÇÕES PADRÕES  */
body{
    background-color: rgb(155, 149, 142);
    padding: 0;
    margin: 0;
}

nav{
    width: 705px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    padding: 0;
}
/*  CONFIGURAÇÕES PADRÕES  */


/*  BASE DO MENU  */
header{
    background-color: white;
    padding: 16px 48px;
    position: fixed;
    width: 95vw;
    display: flex;
    padding-bottom: 13px;
    height: 28px;
}
/*  BASE DO MENU  */


/*  ITENS DO MENU  */
#Logo_Home{
    width: 44px;
    margin-right: 10px;
}

.Header_Links{
    text-decoration: none;
    color: black;
    Font-Family: var(--font-menu);
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.452);
    height: 60px;
}

.Arrow_Header{
    transition: .3s;
}
/*  ITENS DO MENU  */


/*  ANIMAÇÃO DA FLECHA  */
.Arrow_Header:hover {
    transition: .3s;
    transform: rotate(180deg);
}

.Header_Links:hover .Arrow_Header{
    transition: .3s;
    transform: rotate(180deg);
}
/*  ANIMAÇÃO DA FLECHA  */


/*  EFEITO BLUR  */
nav:hover .Blur_Filter:not(:hover){
    opacity: .5;
    transition: .6s;
}
/*  EFEITO BLUR  */


/*  SELETOR DE LOGIN  */
#Login_Button_Container{
    position: absolute;
    right: 0;
    padding-right: 65px;
    align-self: center;
}

.Login_Button{
    font-size: 1.1em;
    color: var(--cor-purple-login);
}

#Login_Icon{
    width: 20px;
    height: 20px;
    fill: var(--cor-purple-login);
    transform: msFilter;
    margin-left: 10px;
}

#Login_Button_Container:hover > .Login_Button{
    text-decoration: underline;
}
/*  SELETOR DE LOGIN  */


/*  ÁREA OCULTA DO MENU  */
.Container_SubMenu{
    background-color: white;
    width: 100vw;
    position: absolute;
    top: 50px;
    left: 0px;
    grid-template-areas: "A1 A2 A3 A4";
    gap: 0px;
    padding-top: 30px;
    padding-bottom: 80px;
    font-family: var(--font-menu);
    display: none;
    justify-content: space-between;
    animation: .8s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}

.Pa{
    grid-column: 2;
}

.List_Item{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.Link_Item{
    text-decoration: none;
    color: black;
}
/*  ÁREA OCULTA DO MENU  */


/*  ÁREAS OCULTAS ESPECÍFICAS  */
#Container_ForYou{
    justify-content: space-around;
}

#Container_YourBusiness{
    justify-content: space-evenly;
}

.Pay{
    margin-left: 30vw;
}
/*  ÁREAS OCULTAS ESPECÍFICAS  */


/*  REMOVER DECORAÇÃO DAS LISTAS  */
ol, ul, li{
    list-style: none;
}
/*  REMOVER DECORAÇÃO DAS LISTAS  */